.portfolio_text {
  margin: auto;
}

#portfolio,
#price {
  padding-top: 100px;
  padding-bottom: 100px;
}
#portfolio h2,
#portfolio p,
#price h2,
#price p {
  text-align: center;
}
#portfolio h2,
#price h2 {
  color: #202020;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#portfolio p,
#price p {
  margin: auto;
  padding-top: 14px;
  padding-bottom: 50px;
  max-width: 550px;
}
#portfolio img {
  padding: 15px;
  border-radius: 1px;

  opacity: 0.6;
  transition: all 0.4s ease-in-out;
}
#portfolio img:hover {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #portfolio img {
    padding: 15px 10px;
  }
}

/*

*/

#price {
  background-color: white;
}
.title {
  padding: 40px 0;
  background-color: #f6f6f6;
}
.title h3 {
  color: #202020;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.orange_boxes {
  background-color: #eb5424;
  padding-bottom: 80px;
}
.orange_boxes > * {
  color: white;
}
.orange_boxes > h3 {
  font-size: 48px;
  font-weight: bold;
  padding-top: 50px;
}
.orange_boxes p {
  padding-bottom: 30px !important;
  font-size: small;
}
.orange_boxes hr {
  width: 100% !important;
  border-color: white;
  opacity: 1;
}
.orange_boxes ul li {
  padding: 25px 0;
}
.orange_boxes button {
  border: none;
  border-radius: 0;
  color: #202020;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 40px;
  transition: all 0.4s ease-in-out;
  margin-top: 20px;
}
.orange_boxes button:hover {
  background: #202020;
  color: #ffffff;
}
.box {
  width: 380px;
}
@media screen and (max-width: 1200px) {
  .box {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  .box {
    width: 360px;
  }
  .justify_content {
    justify-content: flex-start !important;
  }
}
@media screen and (max-width: 767px) {
  .box {
    width: 96%;
  }
  .title {
    padding: 55px 0;
  }
  .justify_content {
    justify-content: center !important;
  }
}
